@import url(base.css);
@import "mixin";

html{
  $map:320px,360px,375px,412px,414px,750px;
  @each $list in $map{
    @media screen and (min-width: #{$list}) {
      font-size: 100 * ($list / 750);
    }
  }
}
body{
  background: #F2F2F2;
  font-size: 16px;
}

.logo{
  background: #29A6DC;
  .title1{
    @include wh(100%,7.5rem*(40/750));
    background: url("../img/tit.png") center/cover no-repeat;
  }
  .title2{
    @include ft(7.5rem*(32/750),#fff,7.5rem*(106/750),center);
    font-weight: 400;
    position: relative;
    p{
      @include wh(7.5rem*(40/750),7.5rem*(40/750));
      border-radius: 7.5rem*(40/750);
      border: 7.5rem*(2/750) solid #076CBE;
      @include cents;
      left: 7.5rem*(25/750);
      background:#fff url("../img/fanhui.png") center/cover no-repeat;
    }
  }
  .title3{
    @include ft(7.5rem*(34/750),#fff,7.5rem*(196/750),center);
    font-weight: 400;
  }
}

.word{
  padding: 7.5rem*(104.5/750) 7.5rem*(77/750);
  position: relative;
  //background: red;
  h6{
    @include ft(7.5rem*(24/750),#0A196B,7.5rem*(40/750),center);
    font-weight: 400;
  }
  h6:nth-child(2){
    position: absolute;
    right: 0;
    padding: 0 7.5rem*(77/750);
  }
}

.input{
  //padding-top: 7.5rem*(59/750);
  @include wh(100%,7.5rem*(468/750));
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  .item{
    @include whb(7.5rem*(614/750),7.5rem*(86/750),#fff);
    border: 1px solid #3A91FD;
    border-radius: 7.5rem*(86/750);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }
  .items{
    //@include wh(7.5rem*(614/750),7.5rem*(32/750)86);
    width: 7.5rem*(614/750);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .item_small{
    height: 7.5rem*(86/750);
    border: 1px solid #3A91FD;
    border-radius: 7.5rem*(86/750);
  }
  .item_small:nth-child(1){
    @include whb(7.5rem*(382/750),7.5rem*(86/750),#fff);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    a:nth-child(1){
      @include ft(7.5rem*(26/750),#3ABFFD,7.5rem*(26/750),left);
    }
    a:nth-child(2){
      @include ft(7.5rem*(20/750),#D7D7D7,7.5rem*(26/750),left);
    }
  }
  .item_small:nth-child(2){
    @include whb(7.5rem*(206/750),7.5rem*(86/750),#fff);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    a{
      @include ft(7.5rem*(26/750),#999,7.5rem*(26/750),left);
    }
  }
  p{
    @include wh(7.5rem*(44/750),7.5rem*(44/750));
    border: 1px solid #3FC1FD;
    border-radius: 7.5rem*(44/750);
  }
  input{
    border: 0;
    @include wh(80%,7.5rem*(44/750));
    @include ft(7.5rem*(26/750),#999,7.5rem*(44/750),left);
    font-weight: 300;
  }
  $map:(one,'../img/person.png'),(two,'../img/password.png'),(three,'../img/shouji.png');
  @each $name,$url in $map{
    .#{$name}{
      background: url($url) center/cover no-repeat;
    }
  }
}

.zhaohui{
  @include wh(100%,7.5rem*(93/750));
  display: flex ;
  flex-flow: row;
  justify-content: space-around;
  .row{
    @include wh(18.7%,100%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .row1 p{
    @include wh(7.5rem*(25/750),7.5rem*(25/750));
    background: url("../img/zhaomima.png") center/cover no-repeat;
    flex-shrink: 1;

  }
  .row2 p{
    @include wh(7.5rem*(25/750),7.5rem*(25/750));
    background: url("../img/zhuce.png") center/cover no-repeat;
    flex-shrink: 1;

  }
  a{
    @include ft(7.5rem*(22/750),#666,7.5rem*(93/750),left);
    flex-shrink: 1;
  }
}

.bot{
  padding:7.5rem*(41/750) 0 7.5rem*(73/750);
  display: flex;
  flex-flow: row;
  justify-content: center;
  .denglu{
    @include whb(7.5rem*(505/750),auto,#3ABFFD);
    border-radius: 7.5rem*(68/750);
    @include ft(7.5rem*(26/750),#fff,7.5rem*(68/750),center);
    padding: 0 7.5rem*(30/750);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  p{
    display: inline-block;
    @include whb(7.5rem*(6/750),7.5rem*(6/750),#fff);
    border-radius: 7.5rem*(6/750) ;
  }
  .word{
    display: inline-block;
  }
}