@import "mixin";
@import "adapter";
@import "base";

$inner:95%;

.bg{
  display: flex;
  justify-content: center;
  width: 100%;
  background: url("../images/browse_bg_03.png")no-repeat center center;
}

.inner{
  width: 95%;
  @include height(1334);
  @include bg;
}

//////////////////////////////////////////////////////////////////////////

/*状态栏*/

.statusBar{
  flex: 0 0 1;
  @include height(40);
  @include bg;
}