@import "mixin";
@import "adapter";
@import "base";

body {
  display: flex;
  justify-content: center;
}

$inner: 95%;

.bg {
  display: flex;
  justify-content: center;
  //@include width(750);
  width: 100%;
  max-width: 750px;
  background: url("../images/browse_bg_03.png") no-repeat center center;
}

.inner {
  width: 95%;
  @include height(1334);
  display: flex;
  flex-direction: column;
}

//////////////////////////////////////////////////////////////////////////

/*状态栏*/

.statusBar {
  @include font-size(19);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include padding2(0, 9);
  .system {
    @include line-height(40);
    @include margin-left(23);
  }
}

.statusBar .time {
  font-weight: bolder;
}

.statusBar .battery {
  font-size: 0;
  display: flex;
  align-items: center;
  &::after {
    content: '';
    display: block;
    @include width(49);
    @include height(19);
    top: 0;
    bottom: 0;
    background: url("../images/bg_03.png") no-repeat;
    background-position: -772px -82px;
  }
}

/////////////////////////////////////////////////////////////////////////

/*书名*/

.bookName {
  @include height(28);
  display: flex;
  align-items: center;
  @include padding-top(14);
}

.bookName .line {
  &:first-child {
    display: flex;
    @include width(23);
    height: 1px;
    background: black;
  }
  &:last-child {
    display: flex;
    flex: 1;
    height: 1px;
    background: black;
  }
}

.bookName .Name {
  display: flex;
  width: auto;
  @include line-height(20);
  @include font-size(18);
  @include padding2(0, 8);
}

/////////////////////////////////////////////////////////////////////////

/*正文*/

.mainBody {
  flex: 1;
  @include padding4(28, 47, 47, 31);
}

.mainBody .Body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    font-family: Bold, sans-serif;
    @include font-size(30);
    @include line-height(34);
  }
  p {
    @include margin-left(18);
    @include font-size(24);
    text-indent: 2em;
    text-align: justify;
    //letter-spacing: 0.25em;
  }
}

//////////////////////////////////////////////////////////////////////

/*脚标*/

.cornerMark {
  @include height(56);
  @include padding-left(27);
  @include padding-right(24);
}

.cornerMark .Mark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include font-size(23);
  @include line-height(26);
  & .Mark_plan::after{
    content: '0%';
    display: inline-block;
  }
  & .page_number::after{
    content: '/468';
    display: inline-block;
  }
}



