@charset "UTF-8";
/*初始化*/
@font-face {
  /*粗体*/
  font-family: Bold;
  src: url("../fonts/PingFangBold.ttf"); }

@font-face {
  /*特细*/
  font-family: ExtraLight;
  src: url("../fonts/PingFangExtraLight.ttf"); }

@font-face {
  /*特粗*/
  font-family: Heavy;
  src: url("../fonts/PingFangHeavy.ttf"); }

@font-face {
  /*细体*/
  font-family: Light;
  src: url("../fonts/PingFangLight.ttf"); }

@font-face {
  /*中等*/
  font-family: Medium;
  src: url("../fonts/PingFangMedium.ttf"); }

@font-face {
  /*常规*/
  font-family: Regular;
  src: url("../fonts/PingFangRegular.ttf"); }

/*垂直居中*/
/*水平居中*/
/*居中*/
/*长方形*/
/*正方形*/
/*圆形*/
/*随机颜色*/
/*各种分辨率手机适配方案*/
/*高度适配*/
/*宽度适配*/
/*各种margin值适配*/
/*各种padding值适配*/
/*初始化*/
@font-face {
  /*粗体*/
  font-family: Bold;
  src: url("../fonts/PingFangBold.ttf"); }

@font-face {
  /*特细*/
  font-family: ExtraLight;
  src: url("../fonts/PingFangExtraLight.ttf"); }

@font-face {
  /*特粗*/
  font-family: Heavy;
  src: url("../fonts/PingFangHeavy.ttf"); }

@font-face {
  /*细体*/
  font-family: Light;
  src: url("../fonts/PingFangLight.ttf"); }

@font-face {
  /*中等*/
  font-family: Medium;
  src: url("../fonts/PingFangMedium.ttf"); }

@font-face {
  /*常规*/
  font-family: Regular;
  src: url("../fonts/PingFangRegular.ttf"); }

/*垂直居中*/
/*水平居中*/
/*居中*/
/*长方形*/
/*正方形*/
/*圆形*/
/*随机颜色*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  border: 0;
  font-style: normal;
  font-family: Medium,sans-serif; }

.row::after, .clearfix::after {
  content: '';
  display: block;
  clear: both; }

html {
  font-size: 100px; }

body {
  font-size: 16px; }

.bg {
  display: flex;
  justify-content: center;
  width: 100%;
  background: url("../images/browse_bg_03.png") no-repeat center center; }

.inner {
  width: 95%;
  background: rgba(214, 76, 72, 0.5);
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 320px) {
    .inner {
      height: 569.17333px; } }
  @media screen and (min-width: 360px) {
    .inner {
      height: 640.32px; } }
  @media screen and (min-width: 375px) {
    .inner {
      height: 667px; } }
  @media screen and (min-width: 384px) {
    .inner {
      height: 683.008px; } }
  @media screen and (min-width: 412px) {
    .inner {
      height: 732.81067px; } }
  @media screen and (min-width: 414px) {
    .inner {
      height: 736.368px; } }
  @media screen and (min-width: 571px) {
    .inner {
      height: 1015.61867px; } }
  @media screen and (min-width: 600px) {
    .inner {
      height: 1067.2px; } }
  @media screen and (min-width: 640px) {
    .inner {
      height: 1138.34667px; } }
  @media screen and (min-width: 750px) {
    .inner {
      height: 1334px; } }

/*状态栏*/
.statusBar {
  background: rgba(112, 4, 55, 0.3); }
  @media screen and (min-width: 320px) {
    .statusBar {
      height: 17.06667px; } }
  @media screen and (min-width: 360px) {
    .statusBar {
      height: 19.2px; } }
  @media screen and (min-width: 375px) {
    .statusBar {
      height: 20px; } }
  @media screen and (min-width: 384px) {
    .statusBar {
      height: 20.48px; } }
  @media screen and (min-width: 412px) {
    .statusBar {
      height: 21.97333px; } }
  @media screen and (min-width: 414px) {
    .statusBar {
      height: 22.08px; } }
  @media screen and (min-width: 571px) {
    .statusBar {
      height: 30.45333px; } }
  @media screen and (min-width: 600px) {
    .statusBar {
      height: 32px; } }
  @media screen and (min-width: 640px) {
    .statusBar {
      height: 34.13333px; } }
  @media screen and (min-width: 750px) {
    .statusBar {
      height: 40px; } }

/*书名*/
.bookName {
  background: rgba(219, 62, 69, 0.4); }
  @media screen and (min-width: 320px) {
    .bookName {
      height: 12.37333px; } }
  @media screen and (min-width: 360px) {
    .bookName {
      height: 13.92px; } }
  @media screen and (min-width: 375px) {
    .bookName {
      height: 14.5px; } }
  @media screen and (min-width: 384px) {
    .bookName {
      height: 14.848px; } }
  @media screen and (min-width: 412px) {
    .bookName {
      height: 15.93067px; } }
  @media screen and (min-width: 414px) {
    .bookName {
      height: 16.008px; } }
  @media screen and (min-width: 571px) {
    .bookName {
      height: 22.07867px; } }
  @media screen and (min-width: 600px) {
    .bookName {
      height: 23.2px; } }
  @media screen and (min-width: 640px) {
    .bookName {
      height: 24.74667px; } }
  @media screen and (min-width: 750px) {
    .bookName {
      height: 29px; } }

/*正文*/
.mainBody {
  flex: 1;
  background: rgba(204, 58, 77, 0.3); }

/*脚标*/
.cornerMark {
  background: rgba(182, 5, 34, 0.3); }
  @media screen and (min-width: 320px) {
    .cornerMark {
      height: 23.89333px; } }
  @media screen and (min-width: 360px) {
    .cornerMark {
      height: 26.88px; } }
  @media screen and (min-width: 375px) {
    .cornerMark {
      height: 28px; } }
  @media screen and (min-width: 384px) {
    .cornerMark {
      height: 28.672px; } }
  @media screen and (min-width: 412px) {
    .cornerMark {
      height: 30.76267px; } }
  @media screen and (min-width: 414px) {
    .cornerMark {
      height: 30.912px; } }
  @media screen and (min-width: 571px) {
    .cornerMark {
      height: 42.63467px; } }
  @media screen and (min-width: 600px) {
    .cornerMark {
      height: 44.8px; } }
  @media screen and (min-width: 640px) {
    .cornerMark {
      height: 47.78667px; } }
  @media screen and (min-width: 750px) {
    .cornerMark {
      height: 56px; } }
