@charset "UTF-8";
/*初始化*/
@font-face {
  /*粗体*/
  font-family: Bold;
  src: url("../fonts/PingFangBold.ttf"); }

@font-face {
  /*特细*/
  font-family: ExtraLight;
  src: url("../fonts/PingFangExtraLight.ttf"); }

@font-face {
  /*特粗*/
  font-family: Heavy;
  src: url("../fonts/PingFangHeavy.ttf"); }

@font-face {
  /*细体*/
  font-family: Light;
  src: url("../fonts/PingFangLight.ttf"); }

@font-face {
  /*中等*/
  font-family: Medium;
  src: url("../fonts/PingFangMedium.ttf"); }

@font-face {
  /*常规*/
  font-family: Regular;
  src: url("../fonts/PingFangRegular.ttf"); }

/*垂直居中*/
/*水平居中*/
/*居中*/
/*长方形*/
/*正方形*/
/*圆形*/
/*随机颜色*/
/*各种分辨率手机适配方案*/
/*高度适配*/
/*宽度适配*/
/*字体*/
/*border-width*/
/*right*/
/*left*/
/*top*/
/*各种margin值适配*/
/*各种padding值适配*/
/*初始化*/
@font-face {
  /*粗体*/
  font-family: Bold;
  src: url("../fonts/PingFangBold.ttf"); }

@font-face {
  /*特细*/
  font-family: ExtraLight;
  src: url("../fonts/PingFangExtraLight.ttf"); }

@font-face {
  /*特粗*/
  font-family: Heavy;
  src: url("../fonts/PingFangHeavy.ttf"); }

@font-face {
  /*细体*/
  font-family: Light;
  src: url("../fonts/PingFangLight.ttf"); }

@font-face {
  /*中等*/
  font-family: Medium;
  src: url("../fonts/PingFangMedium.ttf"); }

@font-face {
  /*常规*/
  font-family: Regular;
  src: url("../fonts/PingFangRegular.ttf"); }

/*垂直居中*/
/*水平居中*/
/*居中*/
/*长方形*/
/*正方形*/
/*圆形*/
/*随机颜色*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  border: 0;
  font-style: normal;
  font-family: Medium,sans-serif; }

.row::after, .clearfix::after {
  content: '';
  display: block;
  clear: both; }

html {
  font-size: 100px; }

body {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

img {
  border: none; }

* {
  position: relative; }

body {
  display: flex;
  justify-content: center; }

.bg {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
  background: url("../images/browse_bg_03.png") no-repeat center center;
  overflow: hidden; }
  @media screen and (min-width: 320px) {
    .bg {
      height: 569.17333px; } }
  @media screen and (min-width: 360px) {
    .bg {
      height: 640.32px; } }
  @media screen and (min-width: 375px) {
    .bg {
      height: 667px; } }
  @media screen and (min-width: 384px) {
    .bg {
      height: 683.008px; } }
  @media screen and (min-width: 412px) {
    .bg {
      height: 732.81067px; } }
  @media screen and (min-width: 414px) {
    .bg {
      height: 736.368px; } }
  @media screen and (min-width: 571px) {
    .bg {
      height: 1015.61867px; } }
  @media screen and (min-width: 600px) {
    .bg {
      height: 1067.2px; } }
  @media screen and (min-width: 640px) {
    .bg {
      height: 1138.34667px; } }
  @media screen and (min-width: 750px) {
    .bg {
      height: 1334px; } }

.inner {
  width: 95%;
  height: 100%;
  overflow: hidden; }

/*状态栏*/
.statusBar {
  width: 100%;
  display: flex;
  justify-content: center; }
  @media screen and (min-width: 320px) {
    .statusBar {
      font-size: 8.10667px; } }
  @media screen and (min-width: 360px) {
    .statusBar {
      font-size: 9.12px; } }
  @media screen and (min-width: 375px) {
    .statusBar {
      font-size: 9.5px; } }
  @media screen and (min-width: 384px) {
    .statusBar {
      font-size: 9.728px; } }
  @media screen and (min-width: 412px) {
    .statusBar {
      font-size: 10.43733px; } }
  @media screen and (min-width: 414px) {
    .statusBar {
      font-size: 10.488px; } }
  @media screen and (min-width: 571px) {
    .statusBar {
      font-size: 14.46533px; } }
  @media screen and (min-width: 600px) {
    .statusBar {
      font-size: 15.2px; } }
  @media screen and (min-width: 640px) {
    .statusBar {
      font-size: 16.21333px; } }
  @media screen and (min-width: 750px) {
    .statusBar {
      font-size: 19px; } }
  @media screen and (min-width: 320px) {
    .statusBar .system {
      line-height: 17.06667px; } }
  @media screen and (min-width: 360px) {
    .statusBar .system {
      line-height: 19.2px; } }
  @media screen and (min-width: 375px) {
    .statusBar .system {
      line-height: 20px; } }
  @media screen and (min-width: 384px) {
    .statusBar .system {
      line-height: 20.48px; } }
  @media screen and (min-width: 412px) {
    .statusBar .system {
      line-height: 21.97333px; } }
  @media screen and (min-width: 414px) {
    .statusBar .system {
      line-height: 22.08px; } }
  @media screen and (min-width: 571px) {
    .statusBar .system {
      line-height: 30.45333px; } }
  @media screen and (min-width: 600px) {
    .statusBar .system {
      line-height: 32px; } }
  @media screen and (min-width: 640px) {
    .statusBar .system {
      line-height: 34.13333px; } }
  @media screen and (min-width: 750px) {
    .statusBar .system {
      line-height: 40px; } }
  @media screen and (min-width: 320px) {
    .statusBar .system {
      margin-left: 9.81333px; } }
  @media screen and (min-width: 360px) {
    .statusBar .system {
      margin-left: 11.04px; } }
  @media screen and (min-width: 375px) {
    .statusBar .system {
      margin-left: 11.5px; } }
  @media screen and (min-width: 384px) {
    .statusBar .system {
      margin-left: 11.776px; } }
  @media screen and (min-width: 412px) {
    .statusBar .system {
      margin-left: 12.63467px; } }
  @media screen and (min-width: 414px) {
    .statusBar .system {
      margin-left: 12.696px; } }
  @media screen and (min-width: 571px) {
    .statusBar .system {
      margin-left: 17.51067px; } }
  @media screen and (min-width: 600px) {
    .statusBar .system {
      margin-left: 18.4px; } }
  @media screen and (min-width: 640px) {
    .statusBar .system {
      margin-left: 19.62667px; } }
  @media screen and (min-width: 750px) {
    .statusBar .system {
      margin-left: 23px; } }

.statusBar .inner {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end; }
  @media screen and (min-width: 320px) {
    .statusBar .inner {
      padding-top: 0px; } }
  @media screen and (min-width: 360px) {
    .statusBar .inner {
      padding-top: 0px; } }
  @media screen and (min-width: 375px) {
    .statusBar .inner {
      padding-top: 0px; } }
  @media screen and (min-width: 384px) {
    .statusBar .inner {
      padding-top: 0px; } }
  @media screen and (min-width: 412px) {
    .statusBar .inner {
      padding-top: 0px; } }
  @media screen and (min-width: 414px) {
    .statusBar .inner {
      padding-top: 0px; } }
  @media screen and (min-width: 571px) {
    .statusBar .inner {
      padding-top: 0px; } }
  @media screen and (min-width: 600px) {
    .statusBar .inner {
      padding-top: 0px; } }
  @media screen and (min-width: 640px) {
    .statusBar .inner {
      padding-top: 0px; } }
  @media screen and (min-width: 750px) {
    .statusBar .inner {
      padding-top: 0px; } }
  @media screen and (min-width: 320px) {
    .statusBar .inner {
      padding-right: 3.84px; } }
  @media screen and (min-width: 360px) {
    .statusBar .inner {
      padding-right: 4.32px; } }
  @media screen and (min-width: 375px) {
    .statusBar .inner {
      padding-right: 4.5px; } }
  @media screen and (min-width: 384px) {
    .statusBar .inner {
      padding-right: 4.608px; } }
  @media screen and (min-width: 412px) {
    .statusBar .inner {
      padding-right: 4.944px; } }
  @media screen and (min-width: 414px) {
    .statusBar .inner {
      padding-right: 4.968px; } }
  @media screen and (min-width: 571px) {
    .statusBar .inner {
      padding-right: 6.852px; } }
  @media screen and (min-width: 600px) {
    .statusBar .inner {
      padding-right: 7.2px; } }
  @media screen and (min-width: 640px) {
    .statusBar .inner {
      padding-right: 7.68px; } }
  @media screen and (min-width: 750px) {
    .statusBar .inner {
      padding-right: 9px; } }
  @media screen and (min-width: 320px) {
    .statusBar .inner {
      padding-bottom: 0px; } }
  @media screen and (min-width: 360px) {
    .statusBar .inner {
      padding-bottom: 0px; } }
  @media screen and (min-width: 375px) {
    .statusBar .inner {
      padding-bottom: 0px; } }
  @media screen and (min-width: 384px) {
    .statusBar .inner {
      padding-bottom: 0px; } }
  @media screen and (min-width: 412px) {
    .statusBar .inner {
      padding-bottom: 0px; } }
  @media screen and (min-width: 414px) {
    .statusBar .inner {
      padding-bottom: 0px; } }
  @media screen and (min-width: 571px) {
    .statusBar .inner {
      padding-bottom: 0px; } }
  @media screen and (min-width: 600px) {
    .statusBar .inner {
      padding-bottom: 0px; } }
  @media screen and (min-width: 640px) {
    .statusBar .inner {
      padding-bottom: 0px; } }
  @media screen and (min-width: 750px) {
    .statusBar .inner {
      padding-bottom: 0px; } }
  @media screen and (min-width: 320px) {
    .statusBar .inner {
      padding-left: 3.84px; } }
  @media screen and (min-width: 360px) {
    .statusBar .inner {
      padding-left: 4.32px; } }
  @media screen and (min-width: 375px) {
    .statusBar .inner {
      padding-left: 4.5px; } }
  @media screen and (min-width: 384px) {
    .statusBar .inner {
      padding-left: 4.608px; } }
  @media screen and (min-width: 412px) {
    .statusBar .inner {
      padding-left: 4.944px; } }
  @media screen and (min-width: 414px) {
    .statusBar .inner {
      padding-left: 4.968px; } }
  @media screen and (min-width: 571px) {
    .statusBar .inner {
      padding-left: 6.852px; } }
  @media screen and (min-width: 600px) {
    .statusBar .inner {
      padding-left: 7.2px; } }
  @media screen and (min-width: 640px) {
    .statusBar .inner {
      padding-left: 7.68px; } }
  @media screen and (min-width: 750px) {
    .statusBar .inner {
      padding-left: 9px; } }

.statusBar .time {
  font-weight: bolder; }

.statusBar .battery {
  font-size: 0;
  display: flex;
  align-items: center; }
  .statusBar .battery::after {
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    background: url("../images/bg_03.png") no-repeat;
    background-position: -772px -82px; }
    @media screen and (min-width: 320px) {
      .statusBar .battery::after {
        width: 20.90667px; } }
    @media screen and (min-width: 360px) {
      .statusBar .battery::after {
        width: 23.52px; } }
    @media screen and (min-width: 375px) {
      .statusBar .battery::after {
        width: 24.5px; } }
    @media screen and (min-width: 384px) {
      .statusBar .battery::after {
        width: 25.088px; } }
    @media screen and (min-width: 412px) {
      .statusBar .battery::after {
        width: 26.91733px; } }
    @media screen and (min-width: 414px) {
      .statusBar .battery::after {
        width: 27.048px; } }
    @media screen and (min-width: 571px) {
      .statusBar .battery::after {
        width: 37.30533px; } }
    @media screen and (min-width: 600px) {
      .statusBar .battery::after {
        width: 39.2px; } }
    @media screen and (min-width: 640px) {
      .statusBar .battery::after {
        width: 41.81333px; } }
    @media screen and (min-width: 750px) {
      .statusBar .battery::after {
        width: 49px; } }
    @media screen and (min-width: 320px) {
      .statusBar .battery::after {
        height: 8.10667px; } }
    @media screen and (min-width: 360px) {
      .statusBar .battery::after {
        height: 9.12px; } }
    @media screen and (min-width: 375px) {
      .statusBar .battery::after {
        height: 9.5px; } }
    @media screen and (min-width: 384px) {
      .statusBar .battery::after {
        height: 9.728px; } }
    @media screen and (min-width: 412px) {
      .statusBar .battery::after {
        height: 10.43733px; } }
    @media screen and (min-width: 414px) {
      .statusBar .battery::after {
        height: 10.488px; } }
    @media screen and (min-width: 571px) {
      .statusBar .battery::after {
        height: 14.46533px; } }
    @media screen and (min-width: 600px) {
      .statusBar .battery::after {
        height: 15.2px; } }
    @media screen and (min-width: 640px) {
      .statusBar .battery::after {
        height: 16.21333px; } }
    @media screen and (min-width: 750px) {
      .statusBar .battery::after {
        height: 19px; } }

/*书名*/
.bookName {
  width: 100%;
  display: flex;
  justify-content: center; }
  @media screen and (min-width: 320px) {
    .bookName {
      height: 11.94667px; } }
  @media screen and (min-width: 360px) {
    .bookName {
      height: 13.44px; } }
  @media screen and (min-width: 375px) {
    .bookName {
      height: 14px; } }
  @media screen and (min-width: 384px) {
    .bookName {
      height: 14.336px; } }
  @media screen and (min-width: 412px) {
    .bookName {
      height: 15.38133px; } }
  @media screen and (min-width: 414px) {
    .bookName {
      height: 15.456px; } }
  @media screen and (min-width: 571px) {
    .bookName {
      height: 21.31733px; } }
  @media screen and (min-width: 600px) {
    .bookName {
      height: 22.4px; } }
  @media screen and (min-width: 640px) {
    .bookName {
      height: 23.89333px; } }
  @media screen and (min-width: 750px) {
    .bookName {
      height: 28px; } }

.bookName .inner {
  display: flex;
  align-items: center;
  box-sizing: border-box; }
  @media screen and (min-width: 320px) {
    .bookName .inner {
      padding-top: 5.97333px; } }
  @media screen and (min-width: 360px) {
    .bookName .inner {
      padding-top: 6.72px; } }
  @media screen and (min-width: 375px) {
    .bookName .inner {
      padding-top: 7px; } }
  @media screen and (min-width: 384px) {
    .bookName .inner {
      padding-top: 7.168px; } }
  @media screen and (min-width: 412px) {
    .bookName .inner {
      padding-top: 7.69067px; } }
  @media screen and (min-width: 414px) {
    .bookName .inner {
      padding-top: 7.728px; } }
  @media screen and (min-width: 571px) {
    .bookName .inner {
      padding-top: 10.65867px; } }
  @media screen and (min-width: 600px) {
    .bookName .inner {
      padding-top: 11.2px; } }
  @media screen and (min-width: 640px) {
    .bookName .inner {
      padding-top: 11.94667px; } }
  @media screen and (min-width: 750px) {
    .bookName .inner {
      padding-top: 14px; } }

.bookName .line:first-child {
  display: flex;
  height: 1px;
  background: black; }
  @media screen and (min-width: 320px) {
    .bookName .line:first-child {
      width: 9.81333px; } }
  @media screen and (min-width: 360px) {
    .bookName .line:first-child {
      width: 11.04px; } }
  @media screen and (min-width: 375px) {
    .bookName .line:first-child {
      width: 11.5px; } }
  @media screen and (min-width: 384px) {
    .bookName .line:first-child {
      width: 11.776px; } }
  @media screen and (min-width: 412px) {
    .bookName .line:first-child {
      width: 12.63467px; } }
  @media screen and (min-width: 414px) {
    .bookName .line:first-child {
      width: 12.696px; } }
  @media screen and (min-width: 571px) {
    .bookName .line:first-child {
      width: 17.51067px; } }
  @media screen and (min-width: 600px) {
    .bookName .line:first-child {
      width: 18.4px; } }
  @media screen and (min-width: 640px) {
    .bookName .line:first-child {
      width: 19.62667px; } }
  @media screen and (min-width: 750px) {
    .bookName .line:first-child {
      width: 23px; } }

.bookName .line:last-child {
  display: flex;
  flex: 1;
  height: 1px;
  background: black; }

.bookName .Name {
  display: flex;
  width: auto; }
  @media screen and (min-width: 320px) {
    .bookName .Name {
      line-height: 8.53333px; } }
  @media screen and (min-width: 360px) {
    .bookName .Name {
      line-height: 9.6px; } }
  @media screen and (min-width: 375px) {
    .bookName .Name {
      line-height: 10px; } }
  @media screen and (min-width: 384px) {
    .bookName .Name {
      line-height: 10.24px; } }
  @media screen and (min-width: 412px) {
    .bookName .Name {
      line-height: 10.98667px; } }
  @media screen and (min-width: 414px) {
    .bookName .Name {
      line-height: 11.04px; } }
  @media screen and (min-width: 571px) {
    .bookName .Name {
      line-height: 15.22667px; } }
  @media screen and (min-width: 600px) {
    .bookName .Name {
      line-height: 16px; } }
  @media screen and (min-width: 640px) {
    .bookName .Name {
      line-height: 17.06667px; } }
  @media screen and (min-width: 750px) {
    .bookName .Name {
      line-height: 20px; } }
  @media screen and (min-width: 320px) {
    .bookName .Name {
      font-size: 7.68px; } }
  @media screen and (min-width: 360px) {
    .bookName .Name {
      font-size: 8.64px; } }
  @media screen and (min-width: 375px) {
    .bookName .Name {
      font-size: 9px; } }
  @media screen and (min-width: 384px) {
    .bookName .Name {
      font-size: 9.216px; } }
  @media screen and (min-width: 412px) {
    .bookName .Name {
      font-size: 9.888px; } }
  @media screen and (min-width: 414px) {
    .bookName .Name {
      font-size: 9.936px; } }
  @media screen and (min-width: 571px) {
    .bookName .Name {
      font-size: 13.704px; } }
  @media screen and (min-width: 600px) {
    .bookName .Name {
      font-size: 14.4px; } }
  @media screen and (min-width: 640px) {
    .bookName .Name {
      font-size: 15.36px; } }
  @media screen and (min-width: 750px) {
    .bookName .Name {
      font-size: 18px; } }
  @media screen and (min-width: 320px) {
    .bookName .Name {
      padding-top: 0px; } }
  @media screen and (min-width: 360px) {
    .bookName .Name {
      padding-top: 0px; } }
  @media screen and (min-width: 375px) {
    .bookName .Name {
      padding-top: 0px; } }
  @media screen and (min-width: 384px) {
    .bookName .Name {
      padding-top: 0px; } }
  @media screen and (min-width: 412px) {
    .bookName .Name {
      padding-top: 0px; } }
  @media screen and (min-width: 414px) {
    .bookName .Name {
      padding-top: 0px; } }
  @media screen and (min-width: 571px) {
    .bookName .Name {
      padding-top: 0px; } }
  @media screen and (min-width: 600px) {
    .bookName .Name {
      padding-top: 0px; } }
  @media screen and (min-width: 640px) {
    .bookName .Name {
      padding-top: 0px; } }
  @media screen and (min-width: 750px) {
    .bookName .Name {
      padding-top: 0px; } }
  @media screen and (min-width: 320px) {
    .bookName .Name {
      padding-right: 3.41333px; } }
  @media screen and (min-width: 360px) {
    .bookName .Name {
      padding-right: 3.84px; } }
  @media screen and (min-width: 375px) {
    .bookName .Name {
      padding-right: 4px; } }
  @media screen and (min-width: 384px) {
    .bookName .Name {
      padding-right: 4.096px; } }
  @media screen and (min-width: 412px) {
    .bookName .Name {
      padding-right: 4.39467px; } }
  @media screen and (min-width: 414px) {
    .bookName .Name {
      padding-right: 4.416px; } }
  @media screen and (min-width: 571px) {
    .bookName .Name {
      padding-right: 6.09067px; } }
  @media screen and (min-width: 600px) {
    .bookName .Name {
      padding-right: 6.4px; } }
  @media screen and (min-width: 640px) {
    .bookName .Name {
      padding-right: 6.82667px; } }
  @media screen and (min-width: 750px) {
    .bookName .Name {
      padding-right: 8px; } }
  @media screen and (min-width: 320px) {
    .bookName .Name {
      padding-bottom: 0px; } }
  @media screen and (min-width: 360px) {
    .bookName .Name {
      padding-bottom: 0px; } }
  @media screen and (min-width: 375px) {
    .bookName .Name {
      padding-bottom: 0px; } }
  @media screen and (min-width: 384px) {
    .bookName .Name {
      padding-bottom: 0px; } }
  @media screen and (min-width: 412px) {
    .bookName .Name {
      padding-bottom: 0px; } }
  @media screen and (min-width: 414px) {
    .bookName .Name {
      padding-bottom: 0px; } }
  @media screen and (min-width: 571px) {
    .bookName .Name {
      padding-bottom: 0px; } }
  @media screen and (min-width: 600px) {
    .bookName .Name {
      padding-bottom: 0px; } }
  @media screen and (min-width: 640px) {
    .bookName .Name {
      padding-bottom: 0px; } }
  @media screen and (min-width: 750px) {
    .bookName .Name {
      padding-bottom: 0px; } }
  @media screen and (min-width: 320px) {
    .bookName .Name {
      padding-left: 3.41333px; } }
  @media screen and (min-width: 360px) {
    .bookName .Name {
      padding-left: 3.84px; } }
  @media screen and (min-width: 375px) {
    .bookName .Name {
      padding-left: 4px; } }
  @media screen and (min-width: 384px) {
    .bookName .Name {
      padding-left: 4.096px; } }
  @media screen and (min-width: 412px) {
    .bookName .Name {
      padding-left: 4.39467px; } }
  @media screen and (min-width: 414px) {
    .bookName .Name {
      padding-left: 4.416px; } }
  @media screen and (min-width: 571px) {
    .bookName .Name {
      padding-left: 6.09067px; } }
  @media screen and (min-width: 600px) {
    .bookName .Name {
      padding-left: 6.4px; } }
  @media screen and (min-width: 640px) {
    .bookName .Name {
      padding-left: 6.82667px; } }
  @media screen and (min-width: 750px) {
    .bookName .Name {
      padding-left: 8px; } }

/*正文*/
.mainBody {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  box-sizing: border-box; }
  @media screen and (min-width: 320px) {
    .mainBody {
      padding-top: 11.94667px; } }
  @media screen and (min-width: 360px) {
    .mainBody {
      padding-top: 13.44px; } }
  @media screen and (min-width: 375px) {
    .mainBody {
      padding-top: 14px; } }
  @media screen and (min-width: 384px) {
    .mainBody {
      padding-top: 14.336px; } }
  @media screen and (min-width: 412px) {
    .mainBody {
      padding-top: 15.38133px; } }
  @media screen and (min-width: 414px) {
    .mainBody {
      padding-top: 15.456px; } }
  @media screen and (min-width: 571px) {
    .mainBody {
      padding-top: 21.31733px; } }
  @media screen and (min-width: 600px) {
    .mainBody {
      padding-top: 22.4px; } }
  @media screen and (min-width: 640px) {
    .mainBody {
      padding-top: 23.89333px; } }
  @media screen and (min-width: 750px) {
    .mainBody {
      padding-top: 28px; } }
  @media screen and (min-width: 320px) {
    .mainBody {
      padding-right: 20.05333px; } }
  @media screen and (min-width: 360px) {
    .mainBody {
      padding-right: 22.56px; } }
  @media screen and (min-width: 375px) {
    .mainBody {
      padding-right: 23.5px; } }
  @media screen and (min-width: 384px) {
    .mainBody {
      padding-right: 24.064px; } }
  @media screen and (min-width: 412px) {
    .mainBody {
      padding-right: 25.81867px; } }
  @media screen and (min-width: 414px) {
    .mainBody {
      padding-right: 25.944px; } }
  @media screen and (min-width: 571px) {
    .mainBody {
      padding-right: 35.78267px; } }
  @media screen and (min-width: 600px) {
    .mainBody {
      padding-right: 37.6px; } }
  @media screen and (min-width: 640px) {
    .mainBody {
      padding-right: 40.10667px; } }
  @media screen and (min-width: 750px) {
    .mainBody {
      padding-right: 47px; } }
  @media screen and (min-width: 320px) {
    .mainBody {
      padding-bottom: 20.05333px; } }
  @media screen and (min-width: 360px) {
    .mainBody {
      padding-bottom: 22.56px; } }
  @media screen and (min-width: 375px) {
    .mainBody {
      padding-bottom: 23.5px; } }
  @media screen and (min-width: 384px) {
    .mainBody {
      padding-bottom: 24.064px; } }
  @media screen and (min-width: 412px) {
    .mainBody {
      padding-bottom: 25.81867px; } }
  @media screen and (min-width: 414px) {
    .mainBody {
      padding-bottom: 25.944px; } }
  @media screen and (min-width: 571px) {
    .mainBody {
      padding-bottom: 35.78267px; } }
  @media screen and (min-width: 600px) {
    .mainBody {
      padding-bottom: 37.6px; } }
  @media screen and (min-width: 640px) {
    .mainBody {
      padding-bottom: 40.10667px; } }
  @media screen and (min-width: 750px) {
    .mainBody {
      padding-bottom: 47px; } }
  @media screen and (min-width: 320px) {
    .mainBody {
      padding-left: 13.22667px; } }
  @media screen and (min-width: 360px) {
    .mainBody {
      padding-left: 14.88px; } }
  @media screen and (min-width: 375px) {
    .mainBody {
      padding-left: 15.5px; } }
  @media screen and (min-width: 384px) {
    .mainBody {
      padding-left: 15.872px; } }
  @media screen and (min-width: 412px) {
    .mainBody {
      padding-left: 17.02933px; } }
  @media screen and (min-width: 414px) {
    .mainBody {
      padding-left: 17.112px; } }
  @media screen and (min-width: 571px) {
    .mainBody {
      padding-left: 23.60133px; } }
  @media screen and (min-width: 600px) {
    .mainBody {
      padding-left: 24.8px; } }
  @media screen and (min-width: 640px) {
    .mainBody {
      padding-left: 26.45333px; } }
  @media screen and (min-width: 750px) {
    .mainBody {
      padding-left: 31px; } }

.mainBody .Body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .mainBody .Body h2 {
    font-family: Bold, sans-serif; }
    @media screen and (min-width: 320px) {
      .mainBody .Body h2 {
        font-size: 12.8px; } }
    @media screen and (min-width: 360px) {
      .mainBody .Body h2 {
        font-size: 14.4px; } }
    @media screen and (min-width: 375px) {
      .mainBody .Body h2 {
        font-size: 15px; } }
    @media screen and (min-width: 384px) {
      .mainBody .Body h2 {
        font-size: 15.36px; } }
    @media screen and (min-width: 412px) {
      .mainBody .Body h2 {
        font-size: 16.48px; } }
    @media screen and (min-width: 414px) {
      .mainBody .Body h2 {
        font-size: 16.56px; } }
    @media screen and (min-width: 571px) {
      .mainBody .Body h2 {
        font-size: 22.84px; } }
    @media screen and (min-width: 600px) {
      .mainBody .Body h2 {
        font-size: 24px; } }
    @media screen and (min-width: 640px) {
      .mainBody .Body h2 {
        font-size: 25.6px; } }
    @media screen and (min-width: 750px) {
      .mainBody .Body h2 {
        font-size: 30px; } }
    @media screen and (min-width: 320px) {
      .mainBody .Body h2 {
        line-height: 14.50667px; } }
    @media screen and (min-width: 360px) {
      .mainBody .Body h2 {
        line-height: 16.32px; } }
    @media screen and (min-width: 375px) {
      .mainBody .Body h2 {
        line-height: 17px; } }
    @media screen and (min-width: 384px) {
      .mainBody .Body h2 {
        line-height: 17.408px; } }
    @media screen and (min-width: 412px) {
      .mainBody .Body h2 {
        line-height: 18.67733px; } }
    @media screen and (min-width: 414px) {
      .mainBody .Body h2 {
        line-height: 18.768px; } }
    @media screen and (min-width: 571px) {
      .mainBody .Body h2 {
        line-height: 25.88533px; } }
    @media screen and (min-width: 600px) {
      .mainBody .Body h2 {
        line-height: 27.2px; } }
    @media screen and (min-width: 640px) {
      .mainBody .Body h2 {
        line-height: 29.01333px; } }
    @media screen and (min-width: 750px) {
      .mainBody .Body h2 {
        line-height: 34px; } }
    @media screen and (min-width: 320px) {
      .mainBody .Body h2 {
        margin-bottom: 4.26667px; } }
    @media screen and (min-width: 360px) {
      .mainBody .Body h2 {
        margin-bottom: 4.8px; } }
    @media screen and (min-width: 375px) {
      .mainBody .Body h2 {
        margin-bottom: 5px; } }
    @media screen and (min-width: 384px) {
      .mainBody .Body h2 {
        margin-bottom: 5.12px; } }
    @media screen and (min-width: 412px) {
      .mainBody .Body h2 {
        margin-bottom: 5.49333px; } }
    @media screen and (min-width: 414px) {
      .mainBody .Body h2 {
        margin-bottom: 5.52px; } }
    @media screen and (min-width: 571px) {
      .mainBody .Body h2 {
        margin-bottom: 7.61333px; } }
    @media screen and (min-width: 600px) {
      .mainBody .Body h2 {
        margin-bottom: 8px; } }
    @media screen and (min-width: 640px) {
      .mainBody .Body h2 {
        margin-bottom: 8.53333px; } }
    @media screen and (min-width: 750px) {
      .mainBody .Body h2 {
        margin-bottom: 10px; } }
  .mainBody .Body p {
    text-indent: 2em;
    text-align: justify; }
    @media screen and (min-width: 320px) {
      .mainBody .Body p {
        margin-left: 7.68px; } }
    @media screen and (min-width: 360px) {
      .mainBody .Body p {
        margin-left: 8.64px; } }
    @media screen and (min-width: 375px) {
      .mainBody .Body p {
        margin-left: 9px; } }
    @media screen and (min-width: 384px) {
      .mainBody .Body p {
        margin-left: 9.216px; } }
    @media screen and (min-width: 412px) {
      .mainBody .Body p {
        margin-left: 9.888px; } }
    @media screen and (min-width: 414px) {
      .mainBody .Body p {
        margin-left: 9.936px; } }
    @media screen and (min-width: 571px) {
      .mainBody .Body p {
        margin-left: 13.704px; } }
    @media screen and (min-width: 600px) {
      .mainBody .Body p {
        margin-left: 14.4px; } }
    @media screen and (min-width: 640px) {
      .mainBody .Body p {
        margin-left: 15.36px; } }
    @media screen and (min-width: 750px) {
      .mainBody .Body p {
        margin-left: 18px; } }
    @media screen and (min-width: 320px) {
      .mainBody .Body p {
        font-size: 10.24px; } }
    @media screen and (min-width: 360px) {
      .mainBody .Body p {
        font-size: 11.52px; } }
    @media screen and (min-width: 375px) {
      .mainBody .Body p {
        font-size: 12px; } }
    @media screen and (min-width: 384px) {
      .mainBody .Body p {
        font-size: 12.288px; } }
    @media screen and (min-width: 412px) {
      .mainBody .Body p {
        font-size: 13.184px; } }
    @media screen and (min-width: 414px) {
      .mainBody .Body p {
        font-size: 13.248px; } }
    @media screen and (min-width: 571px) {
      .mainBody .Body p {
        font-size: 18.272px; } }
    @media screen and (min-width: 600px) {
      .mainBody .Body p {
        font-size: 19.2px; } }
    @media screen and (min-width: 640px) {
      .mainBody .Body p {
        font-size: 20.48px; } }
    @media screen and (min-width: 750px) {
      .mainBody .Body p {
        font-size: 24px; } }
    @media screen and (min-width: 320px) {
      .mainBody .Body p {
        margin-bottom: 9.38667px; } }
    @media screen and (min-width: 360px) {
      .mainBody .Body p {
        margin-bottom: 10.56px; } }
    @media screen and (min-width: 375px) {
      .mainBody .Body p {
        margin-bottom: 11px; } }
    @media screen and (min-width: 384px) {
      .mainBody .Body p {
        margin-bottom: 11.264px; } }
    @media screen and (min-width: 412px) {
      .mainBody .Body p {
        margin-bottom: 12.08533px; } }
    @media screen and (min-width: 414px) {
      .mainBody .Body p {
        margin-bottom: 12.144px; } }
    @media screen and (min-width: 571px) {
      .mainBody .Body p {
        margin-bottom: 16.74933px; } }
    @media screen and (min-width: 600px) {
      .mainBody .Body p {
        margin-bottom: 17.6px; } }
    @media screen and (min-width: 640px) {
      .mainBody .Body p {
        margin-bottom: 18.77333px; } }
    @media screen and (min-width: 750px) {
      .mainBody .Body p {
        margin-bottom: 22px; } }

/*脚标*/
.cornerMark {
  width: 100%;
  display: flex;
  justify-content: space-between;
  display: none; }

@media screen and (min-width: 320px) {
  .cornerMark .inner {
    height: 23.89333px; } }

@media screen and (min-width: 360px) {
  .cornerMark .inner {
    height: 26.88px; } }

@media screen and (min-width: 375px) {
  .cornerMark .inner {
    height: 28px; } }

@media screen and (min-width: 384px) {
  .cornerMark .inner {
    height: 28.672px; } }

@media screen and (min-width: 412px) {
  .cornerMark .inner {
    height: 30.76267px; } }

@media screen and (min-width: 414px) {
  .cornerMark .inner {
    height: 30.912px; } }

@media screen and (min-width: 571px) {
  .cornerMark .inner {
    height: 42.63467px; } }

@media screen and (min-width: 600px) {
  .cornerMark .inner {
    height: 44.8px; } }

@media screen and (min-width: 640px) {
  .cornerMark .inner {
    height: 47.78667px; } }

@media screen and (min-width: 750px) {
  .cornerMark .inner {
    height: 56px; } }

@media screen and (min-width: 320px) {
  .cornerMark .inner {
    padding-left: 11.52px; } }

@media screen and (min-width: 360px) {
  .cornerMark .inner {
    padding-left: 12.96px; } }

@media screen and (min-width: 375px) {
  .cornerMark .inner {
    padding-left: 13.5px; } }

@media screen and (min-width: 384px) {
  .cornerMark .inner {
    padding-left: 13.824px; } }

@media screen and (min-width: 412px) {
  .cornerMark .inner {
    padding-left: 14.832px; } }

@media screen and (min-width: 414px) {
  .cornerMark .inner {
    padding-left: 14.904px; } }

@media screen and (min-width: 571px) {
  .cornerMark .inner {
    padding-left: 20.556px; } }

@media screen and (min-width: 600px) {
  .cornerMark .inner {
    padding-left: 21.6px; } }

@media screen and (min-width: 640px) {
  .cornerMark .inner {
    padding-left: 23.04px; } }

@media screen and (min-width: 750px) {
  .cornerMark .inner {
    padding-left: 27px; } }

@media screen and (min-width: 320px) {
  .cornerMark .inner {
    padding-right: 10.24px; } }

@media screen and (min-width: 360px) {
  .cornerMark .inner {
    padding-right: 11.52px; } }

@media screen and (min-width: 375px) {
  .cornerMark .inner {
    padding-right: 12px; } }

@media screen and (min-width: 384px) {
  .cornerMark .inner {
    padding-right: 12.288px; } }

@media screen and (min-width: 412px) {
  .cornerMark .inner {
    padding-right: 13.184px; } }

@media screen and (min-width: 414px) {
  .cornerMark .inner {
    padding-right: 13.248px; } }

@media screen and (min-width: 571px) {
  .cornerMark .inner {
    padding-right: 18.272px; } }

@media screen and (min-width: 600px) {
  .cornerMark .inner {
    padding-right: 19.2px; } }

@media screen and (min-width: 640px) {
  .cornerMark .inner {
    padding-right: 20.48px; } }

@media screen and (min-width: 750px) {
  .cornerMark .inner {
    padding-right: 24px; } }

.cornerMark .Mark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  @media screen and (min-width: 320px) {
    .cornerMark .Mark {
      font-size: 9.81333px; } }
  @media screen and (min-width: 360px) {
    .cornerMark .Mark {
      font-size: 11.04px; } }
  @media screen and (min-width: 375px) {
    .cornerMark .Mark {
      font-size: 11.5px; } }
  @media screen and (min-width: 384px) {
    .cornerMark .Mark {
      font-size: 11.776px; } }
  @media screen and (min-width: 412px) {
    .cornerMark .Mark {
      font-size: 12.63467px; } }
  @media screen and (min-width: 414px) {
    .cornerMark .Mark {
      font-size: 12.696px; } }
  @media screen and (min-width: 571px) {
    .cornerMark .Mark {
      font-size: 17.51067px; } }
  @media screen and (min-width: 600px) {
    .cornerMark .Mark {
      font-size: 18.4px; } }
  @media screen and (min-width: 640px) {
    .cornerMark .Mark {
      font-size: 19.62667px; } }
  @media screen and (min-width: 750px) {
    .cornerMark .Mark {
      font-size: 23px; } }
  @media screen and (min-width: 320px) {
    .cornerMark .Mark {
      line-height: 11.09333px; } }
  @media screen and (min-width: 360px) {
    .cornerMark .Mark {
      line-height: 12.48px; } }
  @media screen and (min-width: 375px) {
    .cornerMark .Mark {
      line-height: 13px; } }
  @media screen and (min-width: 384px) {
    .cornerMark .Mark {
      line-height: 13.312px; } }
  @media screen and (min-width: 412px) {
    .cornerMark .Mark {
      line-height: 14.28267px; } }
  @media screen and (min-width: 414px) {
    .cornerMark .Mark {
      line-height: 14.352px; } }
  @media screen and (min-width: 571px) {
    .cornerMark .Mark {
      line-height: 19.79467px; } }
  @media screen and (min-width: 600px) {
    .cornerMark .Mark {
      line-height: 20.8px; } }
  @media screen and (min-width: 640px) {
    .cornerMark .Mark {
      line-height: 22.18667px; } }
  @media screen and (min-width: 750px) {
    .cornerMark .Mark {
      line-height: 26px; } }
  .cornerMark .Mark .Mark_plan::after {
    content: '0%';
    display: inline-block; }
  .cornerMark .Mark .page_number::after {
    content: '/468';
    display: inline-block; }
