@font-face {
  /*粗体*/
  font-family: Bold;
  src: url('../fonts/PingFangBold.ttf');
}

@font-face {
  /*特细*/
  font-family: ExtraLight;
  src: url('../fonts/PingFangExtraLight.ttf');
}

@font-face {
  /*特粗*/
  font-family: Heavy;
  src:url('../fonts/PingFangHeavy.ttf');
}

@font-face {
  /*细体*/
  font-family: Light;
  src:url('../fonts/PingFangLight.ttf');
}

@font-face {
  /*中等*/
  font-family: Medium;
  src:url('../fonts/PingFangMedium.ttf');
}

@font-face {
  /*常规*/
  font-family: Regular;
  src:url('../fonts/PingFangRegular.ttf');
}
