@charset "UTF-8";
@import url(base.css);
* {
  box-sizing: border-box;
  font-family: "微软雅黑"; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

.bao {
  background: #f2f2f2; }
  .bao .top {
    width: 100%;
    height: 0.4rem;
    background: #29a6dc; }
    .bao .top .tops {
      width: 100%;
      height: 100%;
      background: url(img/tit.png);
      background-size: cover; }
  .bao .sousuo {
    width: 100%;
    height: 0.9rem;
    background: #29a6dc;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bao .sousuo .sousuos {
      width: 94%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .bao .sousuo .sousuos .yq {
        width: 0.46rem;
        height: 0.46rem;
        background: #fff;
        border: 2px solid #076cbe;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center; }
        .bao .sousuo .sousuos .yq a {
          width: 0.1rem;
          height: 0.17rem;
          background: url(img/jt.png) no-repeat;
          background-size: cover; }
      .bao .sousuo .sousuos .zis {
        width: 2.3rem;
        height: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; }
        .bao .sousuo .sousuos .zis h2 {
          font-size: 0.3rem;
          color: #fff; }
        .bao .sousuo .sousuos .zis .xian {
          width: 0.36rem;
          height: 0.03rem;
          background: url(img/xx.png) no-repeat;
          background-size: cover; }
        .bao .sousuo .sousuos .zis span {
          font-size: 0.18rem;
          color: #A3E3FF; }
      .bao .sousuo .sousuos .yq1 {
        width: 0.46rem;
        height: 0.46rem;
        background: #fff;
        border: 2px solid #076cbe;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center; }
        .bao .sousuo .sousuos .yq1 a {
          width: 0.21rem;
          height: 0.18rem;
          background: url(img/ss.png) no-repeat;
          background-size: cover; }
  .bao .sousuo1 {
    width: 100%;
    height: 1.16rem;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bao .sousuo1 .nk {
      width: 94%;
      height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .bao .sousuo1 .nk .xuan {
        width: 5.7rem;
        height: 0.84rem;
        text-align: center;
        background: #2A3441;
        border-radius: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .bao .sousuo1 .nk .xuan .li {
          width: 1.62rem;
          height: 0.66rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .bao .sousuo1 .nk .xuan .li a {
            font-size: 0.2rem;
            color: #fff;
            display: block; }
          .bao .sousuo1 .nk .xuan .li p {
            font-size: 0.12rem;
            color: #fff; }
        .bao .sousuo1 .nk .xuan .xi {
          width: 0.03rem;
          height: 0.6rem;
          background: url(img/xian.png) no-repeat;
          background-size: cover; }
        .bao .sousuo1 .nk .xuan .lis {
          background: #29a6dc;
          border: 2px solid #fff;
          border-radius: 1rem; }
  .bao .sj {
    width: 100%;
    height: 3.71rem;
    background: #fff;
    border-radius: 0.05rem;
    box-shadow: 0 0 20px #d8d8d8;
    display: flex;
    justify-content: center;
    position: relative; }
    .bao .sj .nk {
      width: 94%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .bao .sj .nk .tu {
        width: 2.46rem;
        height: 3.49rem;
        background: url(img/yi.png) no-repeat;
        background-size: cover; }
      .bao .sj .nk .zi {
        width: 4.15rem;
        height: 3.15rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; }
        .bao .sj .nk .zi .zi1 {
          width: 3.9rem;
          height: 1.9rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around; }
          .bao .sj .nk .zi .zi1 h2 {
            font-size: 0.3rem;
            color: #333; }
          .bao .sj .nk .zi .zi1 span {
            font-size: 0.2rem;
            color: #999; }
          .bao .sj .nk .zi .zi1 p {
            font-size: 0.2rem;
            color: #666; }
        .bao .sj .nk .zi .zi2 {
          width: 4rem;
          height: 1rem;
          display: flex;
          align-self: flex-end;
          flex-direction: column;
          justify-content: flex-end;
          position: relative; }
          .bao .sj .nk .zi .zi2 p {
            font-size: 0.2rem;
            color: #999; }
          .bao .sj .nk .zi .zi2 .aa {
            display: flex;
            padding-top: 0.1rem; }
            .bao .sj .nk .zi .zi2 .aa a {
              width: 0.24rem;
              height: 0.23rem;
              background: url(img/xing.png) no-repeat;
              background-size: cover; }
            .bao .sj .nk .zi .zi2 .aa a:nth-child(5) {
              width: 0.24rem;
              height: 0.23rem;
              background: url(img/xing1.png) no-repeat;
              background-size: cover; }
          .bao .sj .nk .zi .zi2 .mla {
            width: 1.84rem;
            height: 0.57rem;
            border-radius: 0.5rem;
            background: #29A6DC;
            box-shadow: 0px 5px 20px #f2f7ff;
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: absolute;
            right: 0; }
            .bao .sj .nk .zi .zi2 .mla .ziti {
              width: 1.2rem;
              height: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center; }
              .bao .sj .nk .zi .zi2 .mla .ziti .jx {
                width: 0.22rem;
                height: 0.2rem;
                background: url(img/jx.png) no-repeat;
                background-size: cover; }
              .bao .sj .nk .zi .zi2 .mla .ziti a {
                color: #fff;
                font-size: 0.2rem; }
            .bao .sj .nk .zi .zi2 .mla .left {
              width: 0.09rem;
              height: 0.09rem;
              border-radius: 1rem;
              background: #fff; }
            .bao .sj .nk .zi .zi2 .mla .right {
              width: 0.09rem;
              height: 0.09rem;
              border-radius: 1rem;
              background: #fff; }
  .bao .kong {
    width: 100%;
    height: 0.16rem; }
  .bao .jp {
    width: 7.5rem;
    height: 4.3rem;
    background: url(img/jp.png) no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -3.45rem; }
