@import"base";
html{
    $widths : (
    320px,360px,375px,412px,414px,750px
    );
    @each $name in $widths{
        @media screen and(min-width: #{$name}){
            font-size: 100*($name/750);
        }
    }
}
.book{
    background: #F2F2F2;
    .top{
        @include chang(100%,1.40rem);
        background: #29A6DC;
        .statusbar{
            @include chang(100%,0.40rem);
            background: url(img/tit.png);
            background-size: 100%;
        }
        .shujia{
            @include center(94%,1.00rem,0);
            display: flex;
            align-items: center;
            justify-content: space-between;
            .shangyiceng{
                @include yuan(0.50rem);
                border: 0.02rem solid #1175B6;
                background:#fff url(img/z.png) center no-repeat;
                background-size: 30%;
            }
            #sousuo{
                @include chang(5.45rem,0.55rem);
                border: none;
                font-size: 0.25rem;
                color: #666666;
                background: #F6F6F6 url(img/ggggg.png)0.2rem no-repeat;
                border-radius: 1rem;
                padding-left:0.80rem ;
                box-sizing: border-box;
            }
            .luyin{
                @include yuan(0.50rem);
                border: 0.02rem solid #1175B6;
                background:#fff url(img/y.png) center no-repeat;
                background-size: 50%;
            }
        }
    }
    .fuzhuang{
        @include center(100%,3.70rem,#fff);
        display: flex;
        align-items: center;
        .sheji{
            @include center(94%,96%,0);
            display: flex;
            align-items: center;
            justify-content: space-between;
            .futu{
                @include chang(35%,100%);
                background: url(img/fuzhuang.png);
                background-size:100% ;
            }
            .xue{
                @include chang(60%,95%);
                .fuzi{
                    @include chang(100%,70%);
                    h3{
                        @include chang(95%,auto);
                        color: #393939;
                        font-size:0.25rem ;
                        font-weight: normal;
                    }
                    span{
                        @include chang(auto,auto);
                        display: block;
                        color: #ABABAB;
                        font-size: 0.16rem;
                        padding: 0.15rem 0;
                    }
                    p{
                        @include chang(95%,auto);
                        color: #686868;
                        font-size: 0.20rem;
                    }
                }
                .pinlun{
                    @include chang(100%,30%);
                    display: flex;
                    .zuozhe{
                        @include chang(50%,100%);
                        display: flex;
                        flex-wrap: wrap;
                        span{
                            @include chang(100%,auto);
                            display: block;
                            color: #ABABAB;
                            font-size: 0.16rem;
                        }
                        .xingxing{
                            @include chang(1.35rem,0.25rem);
                            background: url(img/xingxing.png) -1.1rem no-repeat;
                            background-size:180%;
                        }
                    }
                    .dianji{
                        @include chang(50%,100%);
                        position: relative;
                        a{
                            @include chang(1.85rem,0.60rem);
                            background: #29A6DC;
                            @include zi(#fff,0.22rem,0.60rem,center)
                            display: block;
                            border-radius: 1rem;
                            position: absolute;
                            right: 0px;
                            bottom: 0px;
                        }
                    }
                }
            }
        }
    }
    .zhezhao{
        @include chang(100%,100%);
        position: fixed;
        top: 0px;
        left: 0px;
        display: none;
        .zhezhao1{
            @include chang(100%,100%);
            background: #000;
            opacity: 0.5;
        }
        .book1{
            @include chang(100%,5.60rem);
            background: #fff;
            border-radius: 0.5rem;
            position: absolute;
            top: 0px;
            left: 0px;
            .shangyiceng1{
                @include yuan(0.50rem);
                border: 0.02rem solid #1175B6;
                background:#fff url(img/z.png) center no-repeat;
                background-size: 30%;
            }
            .zonghe{
                @include chang(100%,1.20rem);
                display: flex;
                justify-content: center;
                align-items: center;
                .paixu{
                    @include chang(75%,70%);
                    background: #2A3441;
                    border-radius: 1rem;  
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .zuo{
                        @include chang(40%,80%);
                        border-radius: 1rem;
                        border: 0.02rem solid #fff;
                        background: #29A6DC;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h3{
                            color: #fff;
                            font-size:0.25rem ;
                            font-weight: normal;
                        }
                        span{
                            display: block;
                            color: #fff;
                            font-size: 0.16rem;
                        }
                    }
                    .zhong{
                        @include chang(20%,80%);
                        background:  url(img/rrr.png) center no-repeat;
                    }
                    .you{
                        @include chang(36%,80%);
                        border-radius: 1rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h3{
                            color: #fff;
                            font-size:0.25rem ;
                            font-weight: normal;
                        }
                        span{
                            display: block;
                            color: #fff;
                            font-size: 0.16rem;
                        }
                    }
                }
            }
            .quanbufenlei{
                @include chang(100%,3.00rem);
                border-radius: 0.5rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
               align-content: space-around;
               padding: 0 0.50rem;
               padding-bottom:0.30rem ;
               box-sizing: border-box;
                li{
                    @include chang(26%,auto);
                    border-radius: 1rem;
                    border: 0.02rem solid #545C67;
                    @include zi(#444D58,0.20rem,0.44rem,center);
                    cursor: pointer;
                }
                .quanbu{
                    @include zi(#fff,0.16rem,44rem,center);
                    background: #29A6DC;
                }
            }
        }
    }
    .zhezhao.active{
        display: block;
    }
    
}
