@font-face {
  font-family: set;
  src:url('../font/font_x5086buejoqadcxr/iconfont.woff')
}

@font-face {
  font-family:sanfranciscodisplay;
  src:url('../font/sanfranciscodisplay-light-webfont.ttf')
}
@font-face {
  font-family:more;
  src:url('../font/font_oqd2042muqnf80k9/iconfont.woff')
}