@font-face {
  font-family: set;
  src:url('../font/font_x5086buejoqadcxr/iconfont.woff')
}

@font-face {
  font-family:sanfranciscodisplay;
  src:url('../font/sanfranciscodisplay-light-webfont.ttf')
}

@font-face {
  font-family:sanfranciscodisplaym;
  src:url('../font/sanfranciscodisplay-medium-webfont.ttf')
}

@font-face {
  font-family:more;
  src:url('../font/font_oqd2042muqnf80k9/iconfont.woff')
}
@font-face {
  font-family:mine;
  src:url('../font/font_ln3hc2faieapp66r/iconfont.woff')
}

@font-face {
  font-family:left;
  src:url('../font/font_2aarqayoawoh6w29/iconfont.woff')
}


@font-face {
  font-family:pingfangm;
  src:url('../font/Pingfang/PingFang Medium.ttf')
}

@font-face {
  font-family:pingfangr;
  src:url('../font/Pingfang/PingFang Regular.ttf')
}

@font-face {
  font-family: huancun;
  src: url('../font/font_phfutfzj42ikke29/iconfont.woff')
}

@font-face {
  font-family: update;
  src: url('../font/font_aayl7j3ndk1brzfr/iconfont.woff')
}

@font-face {
  font-family: sex;
  src: url('../font/sex/iconfont.woff')
}