@import 'mixin';
@import "font";
*{
  padding:0;
  margin:0;
  list-style: none;
  text-decoration: none;
  border:none;
  box-sizing:border-box;
}

$device-list:320px ,360px, 375px,384px,  412px, 414px , 600px, 640px,  750px;
html{
  @each $index in $device-list{
    @media screen and (min-width:$index){
      font-size:100 * ($index/750)
    }
  }
}
body{
  font-size:16px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  @include cfx(100%,100%);
}

//html{
//  @include cfx(100%,100%);
//}

.header{
  @include cfx(100%,1.4rem);
  background:#29A6DC;
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  align-content:space-between;
  .power{
    height:0.4rem;
  }
  .title{
    height:1rem;
    padding:1.6% 2.5%;
    display:flex;
    justify-content:space-between;
  }
  .title li{
    flex:1;
    position: relative;
  }
  li.set .setbox,li.letter .letterbox{
    @include cfx(0.44rem,0.44rem);
    border-radius: 50%;
    border:2px solid #1074B5;
    background:#fff;
    @include center;
    text-align: center;
    line-height:0.38rem;
    @include font(0.28rem,#29A6DC,400);
    font-family: 'set',sans-serif;
    &::before{
      content:'\e607';
    }
  }
  li.letter .letterbox{
    &::before{
      content:'\e630';
    }
  }
  li.person{
    flex-basis:70%;
    display:flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    .top{
      @include font(0.36rem,#fff,400);
      letter-spacing: 5px;
      font-family: '苹方',sans-serif;
    }
    .middle{
      display:block;
      @include cfx(100%,0.06rem);
      background:url(../images/line.jpg) center center no-repeat;
    }
    .bottom{
      @include font(0.2rem,#90DCFF,400);
      letter-spacing: 2px;
      font-family: 'sanfranciscodisplay',sans-serif;
    }
  }

}

.info{
  @include cfx(100%,4.2rem);
  background:#fff;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  .photo{
    @include cfx(100%,2.72rem);
    display:flex;
    justify-content: center;
    align-items: flex-end;
    .pp{
      @include cfx(1.6rem,1.6rem);
      border-radius: 50%;
      border:12px solid #EDEDED;
      background:url(../images/timg.jpg) center/contain no-repeat;
    }
  }
  .name{
    @include cfx(100%,1.48rem);
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items: center;
    padding-bottom:2%;
    #name{
      display: block;
      @include font(0.32rem,#323232,400);
      font-family:'苹方',sans-serif;
    }
    p{
      @include font(0.22rem,#3a3a3a,400);
      font-family: '苹方',sans-serif;
      position: relative;
      span{
        position: absolute;
        right:-16px;
        bottom:2px;
        display:inline-block;
        @include cfx(0.24rem,0.25rem);
        background:url(../images/write.jpg) center center no-repeat;
      }
    }
  }
}

.content{
  @include cfx(100%,6.77rem);
  padding:1.6% 2.5%;
  //@include bg;
  display:flex;
  justify-content: flex-start;
  .box{
    @include cfx(100%,3.58rem);
    border-radius: 5px;
    box-shadow:
            0 0 12px #eaeaea,
            0 0 12px #eaeaea,
            0 0 12px #eaeaea,
            0 0 12px #eaeaea;
    border:1px solid #eaeaea;
     background:#fff;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
  }
  .box .item{
    flex-basis:25%;
    width:100%;
    padding:0 3%;
    border-bottom:2px dotted #959595;
    display:flex;
    justify-content:space-between;
    align-items: center;
  }
  .box .feeddback{
    border-bottom:none;
  }
  .box .content_note{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    //align-items: center;
    flex-basis:85%;
    .one{
      @include font(0.26rem,#333,400);
      font-family:'苹方',sans-serif;
    }
    .two{
      @include font(0.16rem,#666,400);
      font-family:'sanfranciscodisplay',sans-serif;
    }

  }
  .box .note .content_note{
    flex-basis: 74%;
  }
  .box .check .content_note{
    flex-basis: 82%;
  }
  .box .V{
    @include font(0.28rem,#3a3a3a,400);
    font-family: sanfranciscodisplay,sans-serif;
    .more{
      @include font(0.18rem,#6CC2E7,400);
      font-family: more,sans-serif;
      &::before{
        content:'\e718';
      }
    }
  }

}

.kind{
  @include cfx(100%,1rem);
  background:#151C2B;
  display:flex;
  justify-content:flex-start;
  li{
    flex:1;
    height:100%;
    border-right:1px solid #717171;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  li:nth-child(3){
    border-right:none;
    .tu{
      color:#fff;
      &::before{
        content:'\e600';
      }
    }
    .zi{
      color:#fff;
    }
  }
  li:nth-child(2){
    .tu{
      &::before{
        content:'\e611';
      }
    }
  }
  .tu{
    @include font(0.44rem,#6c6c6d,400);
    font-family: mine,sans-serif;
    &::before{
      content:'\e68e';
    }
  }
  .zi{
    @include font(0.24rem,#6c6c6d,400);
    font-family: '苹方',sans-serif;
  }
};