@import 'mixin';
@import "font";
*{
  padding:0;
  margin:0;
  list-style: none;
  text-decoration: none;
  border:none;
  box-sizing:border-box;
}

$device-list:320px ,360px, 375px,384px,  412px, 414px , 600px, 640px,  750px;
html{
  @each $index in $device-list{
    @media screen and (min-width:$index){
      font-size:100 * ($index/750)
    }
  }
}
body{
  font-size:16px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  @include cfx(100%,100%);
}

.blur{
  -webkit-filter: blur(2px);
  -ms-filter: blur(10px);
  filter:(10);
}

.bodybox{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  @include cfx(100%,100%);
};

.header{
  @include cfx(100%,1.4rem);
  background:#29A6DC;
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  align-content:space-between;
  .power{
    height:0.4rem;
  }
  .title{
    height:1rem;
    padding:1.6% 2.5%;
    display:flex;
    justify-content:space-between;
  }
  .title li{
    flex:1;
    position: relative;
  }
  li.set .setbox,li.letter .letterbox{
    @include cfx(0.44rem,0.44rem);
    border-radius: 50%;
    border:2px solid #1074B5;
    background:#fff;
    @include center;
    text-align: center;
    line-height:0.38rem;
    @include font(0.28rem,#29A6DC,400);
    font-family: 'left',sans-serif;
    &::before{
      content:'\e603';
    }
  }
  li.letter .letterbox{
    &::before{
      content:'\e630';
    }
  }
  li.person{
    flex-basis:70%;
    display:flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    .top{
      @include font(0.36rem,#fff,400);
      letter-spacing: 5px;
      font-family: '苹方',sans-serif;
    }
    .middle{
      display:block;
      @include cfx(100%,0.06rem);
      background:url(../images/line.jpg) center center no-repeat;
    }
    .bottom{
      @include font(0.2rem,#90DCFF,400);
      letter-spacing: 2px;
      font-family: 'sanfranciscodisplay',sans-serif;
    }
  }

}

.content_box{
  @include cfx(100%,11.97rem);
  padding:1.6% 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content,.contentb{
  display:flex;
  justify-content: flex-start;
  .box{
    @include cfx(100%,3.58rem);
    border-radius: 5px;
    box-shadow:
            0 0 12px #eaeaea,
            0 0 12px #eaeaea,
            0 0 12px #eaeaea,
            0 0 12px #eaeaea;
    border:1px solid #eaeaea;
    background:#fff;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
  }
  .box .item{
    flex:1;
    width:100%;
    padding:0 3%;
    border-bottom:2px dotted #959595;
    display:flex;
    align-items: center;
  }
  .box .feeddback{
    border-bottom:none;
  }
  .box .item .item_l{
    flex: 1;
    display:flex;
    height:100%;
    justify-content: flex-start;
    align-items:center;
  }
  .box .item .item_l img{
    @include cfx(0.36rem,0.36rem);
    margin-right:3%;
  }
  .box .content_note{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    .one{
      @include font(0.26rem,#333,400);
      font-family:'苹方',sans-serif;
    }
    .two{
      @include font(0.16rem,#666,400);
      font-family:'sanfranciscodisplay',sans-serif;
    }

  }
  .box .V{
    flex: 1;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    @include font(0.24rem,#333,400);
    font-family: pingfangm,sans-serif;
    .more{
      @include font(0.18rem,#6CC2E7,400);
      font-family: more,sans-serif;
      &::before{
        content:'\e718';
      }
    }
  }

}
.contentb{
  margin-top:2%;
  display:flex;
  justify-content: flex-start;
  .box{
  @include cfx(100%,1.8rem);
  }
}



.mask{
  @include cfx(100%,100%);
  position:fixed;
  background:rgba(162,162,162,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .allbox{
    position: relative;
    display: flex;
    justify-content: center;
    @include cfx(100%,3.26rem);
  }
  .choosebox{
    @include cfx(4.78rem,2.95rem);
    background:#fff;
    border-radius: 10px;
    overflow: hidden;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
  }
  .choosebox .top{
    width:100%;
    flex-basis:24%;
    border-bottom:none;
    background:#29DCBC;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:0 7%;
    position: relative;
    .sr{
      display:block;
      @include cfx(.36rem,.36rem);
      border-radius: 50%;
      background:#fff;
      line-height:0.36rem;
      text-align:center;
      @include font(0.2rem,#29dcbc,400);
      font-family: sex,sans-serif;
      &::before{
        content:'\e668';
      }
      margin-right:2%;
      box-shadow:
              0 0 12px #26CEB0,
              0 0 12px #26CEB0,
              0 0 12px #26CEB0,
              0 0 12px #26CEB0;
    }
    .tilte_1{
      flex-basis:90%;
      display:flex;
      flex-direction:column;
      justify-content: flex-start;
      .r_one,.r_two{
        display:block;
      }
      .r_one{
        @include font(0.22rem,#fff,400);
        font-family: 'pingfangm',sans-serif;
      }
      .r_two{
        @include font(0.14rem,#fff,400);
        font-family:'sanfranciscodisplaym',sans-serif;
      }
    }
    .tilte_C{
      flex-basis:65%;
    }
    .style{
      position: absolute;
      @include cfx(100%,0.1rem);
      left:0;
      bottom:-0.05rem;
      display:flex;
      justify-content: space-between;
      .stylea{
        @include cfx(0.64rem,100%);
        display:flex;
        justify-content:space-between;
        align-items: flex-end;
        .ra{
          @include cfx(0.06rem,100%);
          background:#29dcbc;
          border-radius: 50%;
          border-bottom:none;
        }
      }
    }
  }
  .choosebox .bottom{
    flex-basis:76%;
    padding:0 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .item_c{
      width: 100%;
      height:0.89rem;
      border-bottom:2px dotted #999;
      display:flex;
      justify-content:flex-start;
      align-items:center;
      img{
        @include cfx(0.34rem,0.34rem);
        margin-right:3%;
      }
      .content_cc{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        .one{
          @include font(0.26rem,#333,400);
          font-family:'苹方',sans-serif;
        }
        .two{
          @include font(0.16rem,#666,400);
          font-family:'sanfranciscodisplay',sans-serif;
        }
      }
    }
    .item_c:nth-child(2){
      border-bottom:none;
    }
  }

  .choosebox .bottom_sex{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    .sex{
      @include cfx(0.66rem,0.66rem);
      border-radius: 50%;
      box-shadow:
              0 0 12px #eaeaea,
              0 0 12px #eaeaea,
              0 0 12px #eaeaea,
              0 0 12px #eaeaea;
      text-align:center;
      line-height:0.66rem;
      @include font(0.4rem,#29ACDC,400);
      font-family: sex,sans-serif;
      &::before{
        content:'\e634';
      }
    }
    .sex:nth-child(2){
      background:#29DCBC;
      @include font(0.36rem,#fff,400);
      &::before{
        content:'\e65f';
      }
    }
  }


  .quxiao{
    position: absolute;
    bottom:0;
    @include cfx(2.54rem,0.64rem);
    border-radius: 30px;
    background:#29DCBC;
    text-align:center;
    line-height:0.64rem;
    @include font(0.24rem,#fff,400);
    font-family: pingfangm,sans-serif;
  }

}
