@charset "UTF-8";
/*函数*/
/*正方形*/
/*圆*/
/*背景颜色*/
/*循环*/
@font-face {
  font-family: set;
  src: url("../font/font_x5086buejoqadcxr/iconfont.woff"); }

@font-face {
  font-family: sanfranciscodisplay;
  src: url("../font/sanfranciscodisplay-light-webfont.ttf"); }

@font-face {
  font-family: sanfranciscodisplaym;
  src: url("../font/sanfranciscodisplay-medium-webfont.ttf"); }

@font-face {
  font-family: more;
  src: url("../font/font_oqd2042muqnf80k9/iconfont.woff"); }

@font-face {
  font-family: mine;
  src: url("../font/font_ln3hc2faieapp66r/iconfont.woff"); }

@font-face {
  font-family: left;
  src: url("../font/font_2aarqayoawoh6w29/iconfont.woff"); }

@font-face {
  font-family: pingfangm;
  src: url("../font/Pingfang/PingFang Medium.ttf"); }

@font-face {
  font-family: pingfangr;
  src: url("../font/Pingfang/PingFang Regular.ttf"); }

@font-face {
  font-family: huancun;
  src: url("../font/font_phfutfzj42ikke29/iconfont.woff"); }

@font-face {
  font-family: update;
  src: url("../font/font_aayl7j3ndk1brzfr/iconfont.woff"); }

@font-face {
  font-family: sex;
  src: url("../font/sex/iconfont.woff"); }

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 600px) {
  html {
    font-size: 80px; } }

@media screen and (min-width: 640px) {
  html {
    font-size: 85.33333px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%; }

.blur {
  -webkit-filter: blur(2px);
  -ms-filter: blur(10px);
  filter: 10; }

.bodybox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%; }

.header {
  width: 100%;
  height: 1.4rem;
  background: #29A6DC;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between; }
  .header .power {
    height: 0.4rem; }
  .header .title {
    height: 1rem;
    padding: 1.6% 2.5%;
    display: flex;
    justify-content: space-between; }
  .header .title li {
    flex: 1;
    position: relative; }
  .header li.set .setbox, .header li.letter .letterbox {
    width: 0.44rem;
    height: 0.44rem;
    border-radius: 50%;
    border: 2px solid #1074B5;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 0.38rem;
    font-size: 0.28rem;
    color: #29A6DC;
    font-weight: 400;
    font-family: 'left',sans-serif; }
    .header li.set .setbox::before, .header li.letter .letterbox::before {
      content: '\e603'; }
  .header li.letter .letterbox::before {
    content: '\e630'; }
  .header li.person {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center; }
    .header li.person .top {
      font-size: 0.36rem;
      color: #fff;
      font-weight: 400;
      letter-spacing: 5px;
      font-family: '苹方',sans-serif; }
    .header li.person .middle {
      display: block;
      width: 100%;
      height: 0.06rem;
      background: url(../images/line.jpg) center center no-repeat; }
    .header li.person .bottom {
      font-size: 0.2rem;
      color: #90DCFF;
      font-weight: 400;
      letter-spacing: 2px;
      font-family: 'sanfranciscodisplay',sans-serif; }

.content_box {
  width: 100%;
  height: 11.97rem;
  padding: 1.6% 2.5%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.content, .contentb {
  display: flex;
  justify-content: flex-start; }
  .content .box, .contentb .box {
    width: 100%;
    height: 3.58rem;
    border-radius: 5px;
    box-shadow: 0 0 12px #eaeaea, 0 0 12px #eaeaea, 0 0 12px #eaeaea, 0 0 12px #eaeaea;
    border: 1px solid #eaeaea;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .content .box .item, .contentb .box .item {
    height: 0.9rem;
    width: 100%;
    padding: 0 3%;
    border-bottom: 2px dotted #959595;
    display: flex;
    align-items: center; }
  .content .box .feeddback, .contentb .box .feeddback {
    border-bottom: none; }
  .content .box .item .item_l, .contentb .box .item .item_l {
    flex: 1;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center; }
  .content .box .item .item_l img, .contentb .box .item .item_l img {
    width: 0.36rem;
    height: 0.36rem;
    margin-right: 3%; }
  .content .box .content_note, .contentb .box .content_note {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .content .box .content_note .one, .contentb .box .content_note .one {
      font-size: 0.26rem;
      color: #333;
      font-weight: 400;
      font-family: '苹方',sans-serif; }
    .content .box .content_note .two, .contentb .box .content_note .two {
      font-size: 0.16rem;
      color: #666;
      font-weight: 400;
      font-family: 'sanfranciscodisplay',sans-serif; }
  .content .box .V, .contentb .box .V {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.24rem;
    color: #333;
    font-weight: 400;
    font-family: pingfangm,sans-serif; }
    .content .box .V .more, .contentb .box .V .more {
      font-size: 0.18rem;
      color: #6CC2E7;
      font-weight: 400;
      font-family: more,sans-serif; }
      .content .box .V .more::before, .contentb .box .V .more::before {
        content: '\e718'; }
  .content .feedback_box, .contentb .feedback_box {
    width: 100%;
    height: 3.26rem; }
  .content .feedback_box .item .item_l img, .contentb .feedback_box .item .item_l img {
    width: 0.38rem;
    height: 0.38rem; }
  .content .feedback_box .feeddback .one, .contentb .feedback_box .feeddback .one {
    font-size: 0.28rem;
    color: #333;
    font-weight: 400; }
  .content .verson_box, .contentb .verson_box {
    z-index: 1;
    width: 100%;
    height: 7.48rem;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1%;
    box-shadow: 0 0 12px #eaeaea, 0 0 12px #eaeaea, 0 0 0 #eaeaea, 0 0 12px #eaeaea; }
    .content .verson_box .tilte_version, .contentb .verson_box .tilte_version {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .content .verson_box .tilte_version .v_one, .contentb .verson_box .tilte_version .v_one {
        font-size: 0.3rem;
        color: #333;
        font-weight: 400;
        font-family: pingfangm,sans-serif; }
      .content .verson_box .tilte_version .v_two, .contentb .verson_box .tilte_version .v_two {
        font-size: 0.16rem;
        color: #666;
        font-weight: 400;
        font-family: sanfranciscodisplay,sans-serif; }
    .content .verson_box p, .contentb .verson_box p {
      font-size: 0.22rem;
      color: #666;
      font-weight: 400;
      font-family: pingfangr,sans-serif;
      margin-top: 7%; }

.contentb {
  margin-top: 2%;
  display: flex;
  justify-content: flex-start; }
  .contentb .box {
    width: 100%;
    height: 1.8rem; }

.submit {
  width: 100%;
  height: 2.38rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .submit .button {
    width: 75.2%;
    height: 0.68rem;
    background: #28DD8B;
    border-radius: 0.34rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .submit .button li {
      flex: 1; }
    .submit .button li:nth-child(2) {
      flex-basis: 80%;
      text-align: center; }
      .submit .button li:nth-child(2) .exit_logo {
        font-size: 0.3rem;
        color: #fff;
        font-weight: 400;
        font-family: 'pingfangm',sans-serif; }
    .submit .button li:nth-child(1), .submit .button li:nth-child(3) {
      display: flex;
      justify-content: flex-end; }
      .submit .button li:nth-child(1) .circle, .submit .button li:nth-child(3) .circle {
        width: 0.06rem;
        height: 0.06rem;
        border-radius: 50%;
        background: #fff; }
    .submit .button li:nth-child(3) {
      justify-content: flex-start; }

#img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 7.28rem;
  height: 0.1rem;
  top: 1%; }

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(162, 162, 162, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; }
  .mask .allbox {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3.26rem; }
  .mask .choosebox {
    width: 4.78rem;
    height: 2.95rem;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .mask .choosebox .top {
    width: 100%;
    flex-basis: 24%;
    border-bottom: none;
    background: #29DCBC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    position: relative; }
    .mask .choosebox .top .sr {
      display: block;
      width: 0.36rem;
      height: 0.36rem;
      border-radius: 50%;
      background: #fff;
      line-height: 0.36rem;
      text-align: center;
      font-size: 0.2rem;
      color: #29dcbc;
      font-weight: 400;
      font-family: sex,sans-serif;
      margin-right: 2%;
      box-shadow: 0 0 12px #26CEB0, 0 0 12px #26CEB0, 0 0 12px #26CEB0, 0 0 12px #26CEB0; }
      .mask .choosebox .top .sr::before {
        content: '\e668'; }
    .mask .choosebox .top .tilte_1 {
      flex-basis: 90%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      .mask .choosebox .top .tilte_1 .r_one, .mask .choosebox .top .tilte_1 .r_two {
        display: block; }
      .mask .choosebox .top .tilte_1 .r_one {
        font-size: 0.22rem;
        color: #fff;
        font-weight: 400;
        font-family: 'pingfangm',sans-serif; }
      .mask .choosebox .top .tilte_1 .r_two {
        font-size: 0.14rem;
        color: #fff;
        font-weight: 400;
        font-family: 'sanfranciscodisplaym',sans-serif; }
    .mask .choosebox .top .tilte_C {
      flex-basis: 65%; }
    .mask .choosebox .top .style {
      position: absolute;
      width: 100%;
      height: 0.1rem;
      left: 0;
      bottom: -0.05rem;
      display: flex;
      justify-content: space-between; }
      .mask .choosebox .top .style .stylea {
        width: 0.64rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end; }
        .mask .choosebox .top .style .stylea .ra {
          width: 0.06rem;
          height: 100%;
          background: #29dcbc;
          border-radius: 50%;
          border-bottom: none; }
  .mask .choosebox .bottom {
    flex-basis: 76%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .mask .choosebox .bottom .item_c {
      width: 100%;
      height: 0.89rem;
      border-bottom: 2px dotted #999;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .mask .choosebox .bottom .item_c img {
        width: 0.34rem;
        height: 0.34rem;
        margin-right: 3%; }
      .mask .choosebox .bottom .item_c .content_cc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; }
        .mask .choosebox .bottom .item_c .content_cc .one {
          font-size: 0.26rem;
          color: #333;
          font-weight: 400;
          font-family: '苹方',sans-serif; }
        .mask .choosebox .bottom .item_c .content_cc .two {
          font-size: 0.16rem;
          color: #666;
          font-weight: 400;
          font-family: 'sanfranciscodisplay',sans-serif; }
    .mask .choosebox .bottom .item_c:nth-child(2) {
      border-bottom: none; }
  .mask .choosebox .bottom_sex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; }
    .mask .choosebox .bottom_sex .sex {
      width: 0.66rem;
      height: 0.66rem;
      border-radius: 50%;
      box-shadow: 0 0 12px #eaeaea, 0 0 12px #eaeaea, 0 0 12px #eaeaea, 0 0 12px #eaeaea;
      text-align: center;
      line-height: 0.66rem;
      font-size: 0.4rem;
      color: #29ACDC;
      font-weight: 400;
      font-family: sex,sans-serif; }
      .mask .choosebox .bottom_sex .sex::before {
        content: '\e634'; }
    .mask .choosebox .bottom_sex .sex:nth-child(2) {
      background: #29DCBC;
      font-size: 0.36rem;
      color: #fff;
      font-weight: 400; }
      .mask .choosebox .bottom_sex .sex:nth-child(2)::before {
        content: '\e65f'; }
  .mask .quxiao {
    position: absolute;
    bottom: 0;
    width: 2.54rem;
    height: 0.64rem;
    border-radius: 30px;
    background: #29DCBC;
    text-align: center;
    line-height: 0.64rem;
    font-size: 0.24rem;
    color: #fff;
    font-weight: 400;
    font-family: pingfangm,sans-serif; }
