@import 'mixin';
@import "font";
*{
  padding:0;
  margin:0;
  list-style: none;
  text-decoration: none;
  border:none;
  box-sizing:border-box;
}

$device-list:320px ,360px, 375px,384px,  412px, 414px , 600px, 640px,  750px;
html{
  @each $index in $device-list{
    @media screen and (min-width:$index){
      font-size:100 * ($index/750)
    }
  }
}
body{
  font-size:16px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  @include cfx(100%,100%);

}


.blur{
  -webkit-filter: blur(2px);
  -ms-filter: blur(10px);
  filter:(10);
}
.bodybox{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  @include cfx(100%,100%);
  //opacity: 0.65;
}

.header{
  @include cfx(100%,1.4rem);
  background:#29A6DC;
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  align-content:space-between;
  .power{
    height:0.4rem;
  }
  .title{
    height:1rem;
    padding:1.6% 2.5%;
    display:flex;
    justify-content:space-between;
  }
  .title li{
    flex:1;
    position: relative;
  }
  li.set .setbox,li.letter .letterbox{
    @include cfx(0.44rem,0.44rem);
    border-radius: 50%;
    border:2px solid #1074B5;
    background:#fff;
    @include center;
    text-align: center;
    line-height:0.38rem;
    @include font(0.28rem,#29A6DC,400);
    font-family: 'left',sans-serif;
    &::before{
      content:'\e603';
    }
  }
  li.letter .letterbox{
    font-family:'set',sans-serif;
    &::before{
      content:'\e630';
    }
  }
  li.person{
    flex-basis:70%;
    display:flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    .top{
      @include font(0.36rem,#fff,400);
      letter-spacing: 5px;
      font-family: '苹方',sans-serif;
    }
    .middle{
      display:block;
      @include cfx(100%,0.06rem);
      background:url(../images/line.jpg) center center no-repeat;
    }
    .bottom{
      @include font(0.2rem,#90DCFF,400);
      letter-spacing: 2px;
      font-family: 'sanfranciscodisplay',sans-serif;
    }
  }

}



.content{
  margin-top:0.1rem;
  @include cfx(100%,9.48rem);
  padding:1.6% 2.5%;
  //@include bg;
  display:flex;
  justify-content: flex-start;
  .box{
    @include cfx(100%,3.58rem);
    border-radius: 5px;
    box-shadow:
            0 0 12px #eaeaea,
            0 0 12px #eaeaea,
            0 0 12px #eaeaea,
            0 0 12px #eaeaea;
    border:1px solid #eaeaea;
    background:#fff;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
  }
  .box .item{
    flex-basis:25%;
    width:100%;
    padding:0 3%;
    border-bottom:2px dotted #959595;
    display:flex;
    justify-content:space-between;
    align-items: center;
  }
  .box .feeddback{
    border-bottom:none;
  }
  .box .content_note{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis:85%;
    .one{
      @include font(0.26rem,#333,400);
      font-family:'苹方',sans-serif;
    }
    .two{
      @include font(0.16rem,#666,400);
      font-family:'sanfranciscodisplay',sans-serif;
    }

  }
  .box .note .content_note{
    flex-basis: 72%;
  }
  .box .check .content_note,.box .feeddback .content_note{
    flex-basis: 82%;
  }
  .box .contact .content_note{
    flex-basis: 72%;
  }
  .box .V{
    @include font(0.28rem,#3a3a3a,400);
    font-family: sanfranciscodisplay,sans-serif;
    .more{
      @include font(0.18rem,#6CC2E7,400);
      font-family: more,sans-serif;
      &::before{
        content:'\e718';
      }
    }
  }
  .box .contact .V{
    @include cfx(0.9rem,0.44rem);
    border:0.04rem solid #D9E1FF;
    background:#3A91FD;
    border-radius:20px;
    position: relative;
    button{
      @include cfx(0.3rem,0.3rem);
      background:#fff;
      border:0.02rem solid #81B9FE;
      border-radius: 50%;
      @include tb;
      right:2%;
      .dotbox{
        @include cfx(100%,100%);
        position: relative;
      }
      .dotbox .dot{
        position: absolute;
        left:22%;
        top:30%;
        display: block;
        @include cfx(20%,20%);
        background:#2DE7CB;
      }
    }
  }

}

.exit{
  @include cfx(100%,2.38rem);
  display:flex;
  justify-content:center;
  align-items: center;
  .button{
    @include cfx(75.2%,0.68rem);
    background:#28DD8B;
    border-radius: 0.34rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    li{
      flex: 1;
    }
    li:nth-child(2){
      flex-basis:80%;
      text-align: center;
      .exit_logo{
        @include font(0.3rem,#fff,400);
        font-family: 'pingfangm',sans-serif;
      }
    }

    li:nth-child(1),li:nth-child(3){
      display:flex;
      justify-content: flex-end;
      .circle{
        @include cfx(0.06rem,0.06rem);
        border-radius: 50%;
        background:#fff;
      }
    }
    li:nth-child(3){
      justify-content: flex-start;
    }
  }

};


.mask{
  @include cfx(100%,100%);
  position: fixed;
  left:0;
  top:0;
  background:rgba(162,162,162,0.5);
  .restbox{
    @include cfx(4.49rem,5.62rem);
    background:#fff;
    margin:0 auto;
    margin-top:3.2rem;
    border-radius: 10PX;
    overflow: hidden;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  }
  .restbox .top{
    flex-basis:73%;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    li{
      flex:1;
    }
    .setting_title{
      border-bottom:none;
      background:#29DCBC;
      display:flex;
      justify-content:flex-start;
      align-items: center;
      padding:0 7%;
      position: relative;
      .sr{
        display:block;
        @include cfx(.36rem,.36rem);
        border-radius: 50%;
        background:#fff;
        text-align:center;
        line-height:0.36rem;
        @include font(0.16rem,#29dcbc,400);
        font-family: mine,sans-serif;
        &::before{
          content:'\e600';
        }
        margin-right:2%;
        box-shadow:
        0 0 12px #26CEB0,
        0 0 12px #26CEB0,
        0 0 12px #26CEB0,
        0 0 12px #26CEB0;
      }
      .tilte_1{
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        .r_one,.r_two{
          display:block;
        }
        .r_one{
          @include font(0.22rem,#fff,400);
          font-family: 'pingfangm',sans-serif;
        }
        .r_two{
          @include font(0.14rem,#fff,400);
          font-family:'sanfranciscodisplaym',sans-serif;
        }
      }
      .style{
        position: absolute;
        @include cfx(100%,0.1rem);
        left:0;
        bottom:-0.05rem;
        display:flex;
        justify-content: space-between;
        .stylea{
          @include cfx(0.64rem,100%);
          display:flex;
          justify-content:space-between;
          align-items: flex-end;
          .ra{
            @include cfx(0.06rem,100%);
            background:#29dcbc;
            border-radius: 50%;
            border-bottom:none;
          }
        }
      }
    }

    .setting_content{
      padding:0 5%;
      .s_box{
        @include cfx(100%,100%);
        display:flex;
        justify-content: space-between;
        align-items:center;
        border-bottom:2px dotted #999;
      }
      .s_content{
        padding-left:2%;
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        .s_one{
          @include font(0.24rem,#333,400);
          font-family: 'pingfangm',sans-serif;
        }
        .s_two{
          @include font(0.16rem,#666,400);
          font-family: 'sa',sans-serif;
        }
      }
      .choose{
        @include cfx(0.3rem,0.3rem);
        margin-right:2%;
        border-radius: 50%;
        background:#fff;
        border:1px solid #29DCBC;
        position: relative;
        .interCircle{
          display:none;
          @include cfx(0.14rem,0.14rem);
          border-radius: 50%;
          background:#29DCBC;
          @include center;
        }
      }
    }
  }
  .restbox .bottom{
    flex-basis: 27%;
    padding:0 5%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    .choosebtn{
      flex:1;
      padding:0 3%;
    }
    .choosebtn .quxiao,.choosebtn .queding{
      @include cfx(100%,0.62rem);
      border:1px solid #28DD8B;
      border-radius: 30px;
      display:flex;
      justify-content: space-between;
      align-items: center;
      .qx{
        flex: 1;
      }
      .qx:nth-child(2){
        flex-basis:60%;
        text-align: center;
        .exit_logo{
          @include font(0.28rem,#28DD8B,400);
          font-family: 'pingfangm',sans-serif;
        }
      }

      .qx:nth-child(1),li:nth-child(3){
        display:flex;
        justify-content: flex-end;
        .circle{
          @include cfx(0.06rem,0.06rem);
          border-radius: 50%;
          background:#28DD8B;
        }
      }
      .qx:nth-child(3){
        justify-content: flex-start;
      }

    }
    .choosebtn .queding{
      background:#28DD8B;
      .qx:nth-child(2){
        .exit_logo{
         @include font(0.28rem,#fff,400)
        }
      }
      .qx:nth-child(1),.qx:nth-child(3){
        .circle{
          background:#fff;
        }
      }
    }
  }
}