@import 'mixin';
@import "font";
*{
  padding:0;
  margin:0;
  list-style: none;
  text-decoration: none;
  border:none;
  box-sizing:border-box;
}

$device-list:320px ,360px, 375px,384px,  412px, 414px , 600px, 640px,  750px;
html{
  @each $index in $device-list{
    @media screen and (min-width:$index){
      font-size:100 * ($index/750)
    }
  }
}
body{
  font-size:16px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  @include cfx(100%,100%);
}



.header{
  @include cfx(100%,1.4rem);
  background:#29A6DC;
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  align-content:space-between;
  .power{
    height:0.4rem;
  }
  .title{
    height:1rem;
    padding:1.6% 2.5%;
    display:flex;
    justify-content:space-between;
  }
  .title li{
    flex:1;
    position: relative;
  }
  li.set .setbox,li.letter .letterbox{
    @include cfx(0.44rem,0.44rem);
    border-radius: 50%;
    border:2px solid #1074B5;
    background:#fff;
    @include center;
    text-align: center;
    line-height:0.38rem;
    @include font(0.28rem,#29A6DC,400);
    font-family: 'left',sans-serif;
    &::before{
      content:'\e603';
    }
  }
  li.letter .letterbox{
    font-family:'set',sans-serif;
    &::before{
      content:'\e630';
    }
  }
  li.person{
    flex-basis:70%;
    display:flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    .top{
      @include font(0.36rem,#fff,400);
      letter-spacing: 5px;
      font-family: '苹方',sans-serif;
    }
    .middle{
      display:block;
      @include cfx(100%,0.06rem);
      background:url(../images/line.jpg) center center no-repeat;
    }
    .bottom{
      @include font(0.2rem,#90DCFF,400);
      letter-spacing: 2px;
      font-family: 'sanfranciscodisplay',sans-serif;
    }
  }

}



.content{
  margin-top:0.1rem;
  @include cfx(100%,9.48rem);
  padding:1.6% 2.5%;
  //@include bg;
  display:flex;
  justify-content: flex-start;
  .box{
    @include cfx(100%,3.58rem);
    border-radius: 5px;
    box-shadow:
            0 0 12px #eaeaea,
            0 0 12px #eaeaea,
            0 0 12px #eaeaea,
            0 0 12px #eaeaea;
    border:1px solid #eaeaea;
    background:#fff;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
  }
  .box .item{
    flex-basis:25%;
    width:100%;
    padding:0 3%;
    border-bottom:2px dotted #959595;
    display:flex;
    justify-content:space-between;
    align-items: center;
  }
  .box .feeddback{
    border-bottom:none;
  }
  .box .content_note{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis:85%;
    .one{
      @include font(0.26rem,#333,400);
      font-family:'苹方',sans-serif;
    }
    .two{
      @include font(0.16rem,#666,400);
      font-family:'sanfranciscodisplay',sans-serif;
    }

  }
  .box .note .content_note{
    flex-basis: 72%;
  }
  .box .check .content_note,.box .feeddback .content_note{
    flex-basis: 82%;
  }
  .box .contact .content_note{
    flex-basis: 72%;
  }
  .box .V{
    @include font(0.28rem,#3a3a3a,400);
    font-family: sanfranciscodisplay,sans-serif;
    .more{
      @include font(0.18rem,#6CC2E7,400);
      font-family: more,sans-serif;
      &::before{
        content:'\e718';
      }
    }
  }
  .box .contact .V{
    @include cfx(0.9rem,0.44rem);
    border:0.04rem solid #D9E1FF;
    background:#3A91FD;
    border-radius:20px;
    position: relative;
    button{
      @include cfx(0.3rem,0.3rem);
      background:#fff;
      border:0.02rem solid #81B9FE;
      border-radius: 50%;
      @include tb;
      right:2%;
      .dotbox{
        @include cfx(100%,100%);
        position: relative;
      }
      .dotbox .dot{
        position: absolute;
        left:22%;
        top:30%;
        display: block;
        @include cfx(20%,20%);
        background:#2DE7CB;
      }
    }
  }

}

.exit{
  @include cfx(100%,2.38rem);
  display:flex;
  justify-content:center;
  align-items: center;
  .button{
    @include cfx(75.2%,0.68rem);
    background:#28DD8B;
    border-radius: 0.34rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    li{
      flex: 1;
    }
    li:nth-child(2){
      flex-basis:80%;
      text-align: center;
      .exit_logo{
        @include font(0.3rem,#fff,400);
        font-family: 'pingfangm',sans-serif;
      }
    }

    li:nth-child(1),li:nth-child(3){
      display:flex;
      justify-content: flex-end;
      .circle{
        @include cfx(0.06rem,0.06rem);
        border-radius: 50%;
        background:#fff;
      }
    }
    li:nth-child(3){
      justify-content: flex-start;
    }
  }

};